.game-progress-bar {
  width: 100%;
  --height: .4rem;
  height: var(--height);
  background: var(--clr-range);
  border-radius: .2rem;
  transition: opacity $shortTransition;
  margin-block-end: .25rem;

  &::after {
    --gradient-base-size: 0.75;
    --width: var(--progress, 0);
    --gradient-scale: calc((var(--width) * (1 - var(--gradient-base-size)) + var(--gradient-base-size)));

    content: "";
    display: block;
    width: calc(var(--height) + var(--width) * (100% - var(--height)));
    height: 100%;
    opacity: 1;
    background: linear-gradient(to right, oklch(0.54 0.18 var(--accent-hue)), oklch(0.64 0.155 var(--accent-hue)));
    background-size: calc(100% / (var(--gradient-scale) * var(--width)));
    border-radius: inherit;

    transition: width 125ms ease-out;
    view-transition-name: match-element;
    view-transition-class: progress-bar;
  }
}

.game-cards {
  margin: 1rem;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.125rem;
}

.game-reference-cards {
  display: flex;
  gap: .625rem;
  min-width: 0;
  overflow-x: auto;
}

.game-inputs, .game-evals {
  display: flex;
  flex-direction: column;
  gap: .625rem;
}

.game-evals {
  position: absolute;
  inset: 0;
}

.game-inputs-evals-container {
  position: relative;
  margin-block-end: .625rem;
}

.game-footer {
  display: flex;
  align-items: start;
  justify-content: end;
}

.card-settings-ribbon {
  position: relative;
  margin-block: .4rem;
  --clr-surface: var(--clr-surface-standout);
  border-color: transparent;

  .ribbon-buttons {
    position: absolute;
    top: -2.75rem;
    left: 0;
    translate: 0;

    label:first-of-type {
      padding-block: .25em;

      transition: background $shortTransition;

      &::before, &::after {
        content: "A";
        font-weight: 700;
      }

      &::before {
        font-size: 1.4rem;
      }

      &::after {
        font-size: 1rem;
      }

    }
  }
}

